{% extends 'all_pages.html' %} 
{% block titulo %} La Económica | Categorias {% endblock %}

{% block h1_titulo %}
<div class="container-fluid">
  <div class="row justify-content-center align-items-center">
      <div class="col-12 text-center">
          <h1 class="display-4 bg-light p-3 rounded-pill shadow-sm fs-1 fs-sm-3">Lista de Categorias</h1>
      </div>
  </div>
</div>
{% endblock %}
{% block contenido %}
<hr>
{% if productos %}
<table id="miTabla" class="table table-striped nowrap" style="width:100%">
  <thead>
    <tr>
      <th>Código</th>
      <th>Nombre</th>
      {% if user.is_superuser %}
      <th>Acción</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for producto in productos %}
    <tr>
      <td>{{ producto.codigo }}</td>
      <td>{{ producto.nombre }}</td>
      {% if user.is_superuser %}
        <td>
          <a href="/editCategory/{{ producto.id }}" class="btn btn-success">
            <i class="bi bi-pencil-square"></i>
          </a>
          <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-trash"></i>
          </a>
        </td>
      {% endif %}
    </tr>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModal">Eliminación de Categorias</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ¿Estás seguro de que deseas eliminar esta categoria?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <a href="/deleteCategory/{{ producto.id }}" class="btn btn-danger">Aceptar</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </tbody>
</table>

{% else %}
<div class="container-fluid">
  <div class="row justify-content-center align-items-center centrar-contenedor">
    <div class="col-12 text-center">
      <div class="alert alert-danger" role="alert">
        <strong>¡Atención!</strong> No hay categorias en la Base de Datos.
      </div>
    </div>
  </div>
</div>
<hr>
{% endif %} {% endblock %}


  {% block insert %}
    {% if user.is_superuser %}
      <a class="btn btn-primary mt-3" href="{% url 'insertCategory' %}">Agregar Categorias</a>
    {% endif %}
  {% endblock %}