{% extends 'sectionVentas.html' %} 
{% block titulo %} La Económica | Sección Ventas {% endblock %}


{% block h1_titulo %}
<div class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <div class="col-12 text-center">
      <h1 class="display-4 bg-light p-3 rounded-pill shadow-sm fs-1 fs-sm-3">Sección Ventas</h1>
    </div>
  </div>
</div>
{% endblock %}
{% block contenido %}
    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Error 409: Conflicto</h1>
            <p class="lead">Se ha producido un conflicto en la solicitud. Por favor, contacta con el administrador del sitio.</p>
            <hr class="my-4">
            <p>Por favor, verifica tu solicitud y asegúrate de que no haya conflictos en los datos proporcionados.</p>
            <a class="btn btn-primary btn-lg" href="{% url 'dashboard' %}" role="button">Volver</a>
        </div>
    </div>
{% endblock %}