{% extends 'all_pages.html' %} 
{% block titulo %} La Económica | Usuarios {% endblock %}

{% block h1_titulo %}
<div class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <div class="col-12 text-center">
      <h1 class="display-4 bg-light p-3 rounded-pill shadow-sm fs-1 fs-sm-3">Lista de Usuarios</h1>
    </div>
  </div>
</div>
{% endblock %}

{% block contenido %}
<hr>

{% if productos %}
  <table id="miTabla" class="table table-striped nowrap" style="width:100%">
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Administrador</th>
        <th>Staff</th>
        <th>Última Conexión</th>
        <th>Acción</th>
      </tr>    
    </thead>
    <tbody>
      {% for producto in productos %}
        {% if user.is_superuser or producto.user == user %}
          <tr>
            <td>{{ producto.username }}</td>
            <td>
              {% if producto.is_superuser %}
                  Sí
              {% else %}
                  No
              {% endif %}
            </td>
            <td>
              {% if producto.is_staff %}
                  Sí
              {% else %}
                  No
              {% endif %}
            </td>
            <td>{{ producto.last_login }}</td>          
            <td>
              <a href="/editUser/{{ producto.id }}" class="btn btn-success">
                <i class="bi bi-pencil-square"></i>
              </a>
              {% if user.is_superuser %}
                <a href="/deleteUser/{{ producto.id }}" class="btn btn-danger">
                  <i class="bi bi-trash"></i>
                </a>
              {% endif %}
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center centrar-contenedor">
      <div class="col-12 text-center">
        <div class="alert alert-danger" role="alert">
          <strong>¡Atención!</strong> No hay usuarios en la Base de Datos.
        </div>
      </div>
    </div>
  </div>
  <hr>
{% endif %}

{% endblock %}

{% block insert %}
<a class="btn btn-primary mt-3" href="{% url 'insertUser' %}">Agregar Usuarios</a>
{% endblock %}
